@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}
.main {
  background: url("assets/images/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(95vh);
  position: relative;
}

.main .box {
  height: calc(95vh);
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  padding-top: 16px;
  max-width: 76vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

nav img {
  color: #e50914;
  height: 180px;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 82px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  gap: 18px;
  padding: 0px 30px;
}

@media screen and(max-width: 1300px) {
  .hero {
    flex-wrap: wrap;
  }
}

.hero > :nth-child(1) {
  font-weight: 650;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 8px;
  background-color: #232323;
  position: relative;
  z-index: 10;
}

.btn {
  padding: 6px 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(248, 243, 243, 0.21);
  border-radius: 4px;
  outline: none;
  border: 1px white;
  cursor: pointer;
  margin-right: 16px;
}

.btn-red-sm {
  margin-right: 0;
  background-color: red;
  color: white;
  font-weight: 600;
}

.btn-red {
  background-color: red;
  font-weight: 515;
  color: white;
  padding: 12px 26px;
  font-size: 20px;
  border-radius: 4px;
  border: 0;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main input {
  width: 300px;
  padding: 12px 15px;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.3);
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: 34px auto;
  color: white;
  /* margin-top: 30px;
    margin-bottom: 30px; */
}



.secImg {
  position: relative;
  max-width: 460px;
  position: relative;
  z-index: 10;
}

.secImg img {
  max-width: 460px;
  position: relative;
  z-index: 10;
}

.secImg video {
  max-width: 390px;
  position: absolute;
  top: 60px;
  right: 10px;
}

.sec3Img video {
  width: 300px;
  top: 40px;
  right: 79px;
}

section.first > div {
  display: flex;
  flex-direction: column;
}

.first > div :first-child {
  font-size: 48px;
  font-weight: 600;
}

.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

.faq {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 44px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 14px;
}

.faq svg {
  filter: invert(1);
}

.faqbox {
  transition: all ease-in-out 1s;
  display: flex;
  background-color: #2d2d2d;
  justify-content: space-between;
  max-width: 70vw;
  margin: 10px auto;
  padding: 24px;
  cursor: pointer;
}

.faqbox:hover {
  background-color: #414141;
}

footer {
  color: #b3b3b3;
  margin: auto;
  max-width: 70vw;
  padding: 14px;
}

footer .question {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #b3b3b3;
  padding-bottom: 54px;
}

@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }
    .first {
      flex-wrap: wrap;
    }
    .second {
      flex-wrap: wrap;
    }
    .third {
      flex-wrap: wrap;
    }
    .fourth {
      flex-wrap: wrap;
    }
    .secImg {
      max-width: 350px;
    }
    .secImg video{
      max-width: 286px; 
      right: 18px;
      top: 50px;
    }
    .sec3Img video{
        max-width: 212px;
        right: 74px;
        top: 24px;
    }
    .hero > :nth-child(1) {
        font-size: 32px;
      }
    .hero > :nth-child(2) {
        font-size: 18px;
      }
    .hero > :nth-child(3) {
        font-size: 18px;
      }
      .hero-buttons{
        display: flex;
        flex-wrap: wrap;
      }
      .btn-red {
        margin-left: 15px;
      }

      .first > div :nth-child(1) {
        font-size: 32px;
      }
      .first > div :nth-child(2) {
        font-size: 18px;
      }
      .faq{
        font-size: 18px;
      }
      .faq h2{
        font-size: 32px;
      }
      footer{
        max-width: 90vw;
      }
      .footer-item{
        align-items: center;
      }
  }

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer a {
  font-size: 14px;
  color: #b3b3b3;
}
